<html>

    <%- include('./partials/head.ejs') %>

    <body>

        <%- include('./partials/nav.ejs') %>

        <div class="not-found content">
            <h1>OOPs, page not found :)</h1>
        </div>

        <%- include('./partials/footer.ejs') %>
        
    </body>
</html>