<html>

    <%- include('./partials/head.ejs') %>

    <body>

        <%- include('./partials/nav.ejs') %>

        <div class="about content">
            <h2>About Us</h2>
            <p>Hi this my first bloging page .This blogf is regarding erxpress javascript framework</p>
            <p>Hi this my first bloging page .This blogf is regarding erxpress javascript framework</p>
            <p>Hi this my first bloging page .This blogf is regarding erxpress javascript framework</p>
            <p>Hi this my first bloging page .This blogf is regarding erxpress javascript framework</p>
            <p>Hi this my first bloging page .This blogf is regarding erxpress javascript framework</p>
            <p>Hi this my first bloging page .This blogf is regarding erxpress javascript framework</p>
        </div>

        <%- include('./partials/footer.ejs') %>
        
    </body>
</html>